.cartMain{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartHolder{
    width: 90%;
    height: 80%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cartHead{
    width: 95%;
    height: 10%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product{
    width: 95%;
    height: 35%;
    background-color: burlywood;
}
.cartTotal{
    width: 95%;
    height: 15%;
    background-color: yellowgreen;
}
